* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url(http://lorempixel.com/1920/1080/); /* set this to your background parallax image */
	background-size: cover;
	background-attachment: fixed; /* the quintessential parallax faker */
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
}

body > * {
	background-color: #fdfdfd;
}

header {
	padding: 1em 0;
	margin-bottom: 500px;
}

header nav ul {
	list-style: none;
	text-align: center;
}

header nav li {
	display: inline-block;
	padding: 0 1em;
	color: #555;
}

header h1 {
	text-align: center;
	margin: 0;
}

#main {
	padding: 1em 0;
}

#placeholder-text {
	margin: 0;
	text-align: center;
	font-size: 108pt;
	font-family: monospace;
	color: gray;
}

footer {
	text-align: center;
	font-size: 24pt;
	padding: 1em 0;
}
